* {
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

/* colour pallette */
html {
   --green: #1DB954;
   --black: black;
   --s-black: #191414;
   --indigo: rgb(21, 26, 34);
   --dark-grey: #212121;
   --grey: #535353;
   --light-grey:#b3b3b3;
   --white50: rgba(255, 255, 255, 0.5);

}

/* UTILITY STYLES */

a {
   font-size: 0.6rem;
   text-decoration: none;
}

h2 {
   font-size: 1.4rem;
}

h3 {
   font-size: 0.8rem;
}

h4 {
   font-size: 0.7rem;
}

p {
   font-size: 0.65rem;
   color: var(--white50);
   margin-top: 0.4rem;
}

ul,
ol {
   padding-inline-start: 0;
}

li {
list-style: none;
text-align: center;
}

.pad {
   padding: 18px;
}

.main img {
   width: 150px;
   height: 150px;
   margin-bottom: 10px;
}

.round {
   object-fit: cover;
   border-radius: 50%;
}

.white {
   color: white;
}

/* utility end */


body {
   width: 100vw;
   height: 100vh;
   background-color: var(--indigo);
}

.logo {
   max-width: 120px;
}

.container {
   display: grid;
   grid-template: 
      "left-nav main" 1fr
      "player-nav player-nav" auto /
      auto 1fr;

   height: 100vh;
  }




/* LEFT NAV */

.left-nav {
   grid-area: left-nav;
   background-color: black;

   display: relative;

   padding: 18px 18px 18px 0;
}

.left-nav .logo {
   margin-left: 14px;
   min-width: 90px;
}

.left-nav .logo-icon {
   margin-left: 14px;
}

.left-nav .icons {
   width: 18px;
}

.left-nav .nav-grid {
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   justify-content: left;

   margin: 5px 0;
   border-left: solid 3px rgba(0, 0, 0, 0);
   padding-left: 10px;
}

.left-nav .root-nav {
   opacity: 50%;
}

.left-nav .text {
   padding-left: 8px;
}

.left-nav .nav-grid:hover {
   border-left: solid 3px var(--green);
   opacity: 100%;

   transition: 0.3s ease-in-out;
}

.left-nav .account {
   position: absolute;
   bottom: 75px;

   border-top: solid 2px var(--grey);
   padding-top: 5px;
}

.left-nav .account .profile {
   background-color: var(--grey);
   padding: 3px;
   border-radius: 50%;
}


/* top bar  */

.top-bar {
   position: sticky;
   top:0;
   background-color: rgba(0, 0, 0, 0.3);
z-index: 100;
   display: grid;
   justify-items: right;
}

.top-bar .upgrade {
   border: solid 1px white;
   border-radius: 30px;
   padding: 8px 30px;
   text-align: center;
   }


/* Middle NAV  */

.main .channels ol {
   height: auto;

   display: grid;
   grid-template-columns: repeat(auto-fit, 95px);
   place-items: center;
}

.main .channels li {
   font-weight: 600;
   transition: 0.3s ease-in-out;
   padding: 5px;
}

.main .channels a{
   color: var(--white50);
}

.main .channels li:hover {
   border-bottom: solid 3px var(--green);
}



/* MAIN COVERS */

.main {
   grid-area: main;
   display: grid;
   grid-gap: 10px;
   overflow: scroll;
   height: 100%;

   position: relative;
}

.main .covers {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(140px,150px));
   grid-gap: 15px;
   justify-content: left;

   margin-top: 15px;
}

.main .cover-image {
   position: relative;
}

.main .overlay {
   position: absolute; 
   background: rgba(0, 0, 0, 0.7);
   transition: .3s ease-in-out;
   opacity:0;
   padding: 40px;
   text-align: center;
}

.main .cover-image:hover .overlay {
   opacity: 90%;
   cursor: pointer;
}






/* player */

.player-nav {
   grid-area: player-nav;
   background-color: var(--dark-grey);

   width: 100vw;
   position: sticky;
   bottom: 0;

   display: grid;
   grid-template-columns: auto 1fr auto;
   place-items: center;
   padding: 10px 8px;
}

.player-nav .now-playing p{
   margin: 2px 0;
   padding-right: 20px;
}

.player-nav .now-playing,
.player-nav .settings,
.player-nav .progress {
   display: grid;
   grid-auto-flow: column;
   place-items: center;
   grid-gap: 10px;

   transform: .3s;
   transition: ease-in-out;
}

.player-nav .buttons {
   display: grid;
   grid-template-columns:1fr 20px 20px 35px 20px 20px 1fr;
   
   place-items: center;
   grid-gap: 15px;

   transform: .3s;
   transition: ease-in-out;
}


.player-nav .now-playing .icon {
   opacity: 50%;
}

.player-nav .now-playing img:hover {
   opacity: 100%;
   cursor: pointer;

}

.player-nav .now-playing img:active {
   transform: scale(0.95);
}

.player-nav .settings img:hover,
.player-nav .buttons img:hover {
   opacity: 50%;
   cursor: pointer;

}

.player-nav .settings img:active,
.player-nav .buttons img:active {
   opacity: 20%;
   transform: scale(0.95);
}


/* media queries */

@media screen and (max-width:700px) {
   .player-nav .controls .progress-bar {
      width: 150px;
   }
   .player-nav .settings .vol-bar{
      width: 70px;
   }
}

@media screen and (min-width:501px) {
   .left-nav .logo-icon {
      display: none;
   }
}

@media screen and (max-width:500px) {
   .left-nav .text {
      display: none;
   }
   .left-nav .logo {
      display: none;
   }
   .player-nav .controls .progress-bar {
      width: 150px;
   }
   .player-nav .settings .vol-bar{
      width: 60px;
   }

}

