* {
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

/* colour pallette */
html {
   --green: #1DB954;
   --black: black;
   --s-black: #191414;
   --indigo: rgb(21, 26, 34);
   --dark-grey: #212121;
   --grey: #535353;
   --light-grey:#b3b3b3;
   --white50: rgba(255, 255, 255, 0.5);

}

/* UTILITY STYLES */

a {
   font-size: 0.6rem;
   text-decoration: none;
}

h2 {
   font-size: 1.4rem;
}

h3 {
   font-size: 0.8rem;
}

p {
   font-size: 0.65rem;
   color: var(--white50);
   margin-top: 0.4rem;
}

ul,
ol {
   padding-inline-start: 0;
}

li {
list-style: none;
text-align: center;
}

.pad {
   padding: 18px;
}

.main img {
   width: 150px;
   height: 150px;
   margin-bottom: 10px;
}

.round {
   object-fit: cover;
   border-radius: 50%;
}

.white {
   color: white;
}

/* utility end */


body {
   width: 100vw;
   height: 100vh;
   background-color: var(--indigo);
}

.logo {
   max-width: 120px;
}

.container {
   display: grid;
   grid-template: 
      "left-nav main" 1fr
      "player-nav player-nav" auto /
      auto 1fr;

   height: 100vh;
  }




/* LEFT NAV */

.left-nav {
   grid-area: left-nav;
   background-color: black;
}



/* Middle NAV  */

.main .channels ol {
   text-align: center;
   height: 25px;
}

.main .channels li {
   display: inline-block;
   font-weight: 600;
   margin: 0 4px;
}

.main .channels a{
   color: var(--white50);
}

.main .channels li:hover {
   border-bottom: solid 3px var(--green)
   
}


/* top bar  */

.top-bar {
   position: sticky;
   top:0;
   background-color: rgba(0, 0, 0, 0.3);
z-index: 100;
   display: grid;
   justify-items: right;
}

.top-bar .upgrade {
   border: solid 1px white;
   border-radius: 30px;
   padding: 8px 30px;
   text-align: center;
   }


/* MAIN COVERS */

.main {
   grid-area: main;

   display: grid;
   grid-gap: 10px;
   overflow: scroll;
   height: 100%;

   position: relative;
}



.main .covers {
   display: grid;
   grid-auto-flow: column;
   grid-gap: 15px;
   justify-content: left;

   width: 1fr;
   margin-top: 15px;
}

.main .cover-image {
   position: relative;
}

.main .overlay {
   position: absolute; 
   background: rgba(0, 0, 0, 0.7);
   transition: .3s ease-in-out;
   opacity:0;
   padding: 40px;
   text-align: center;
}

.main .cover-image:hover .overlay {
   opacity: 90%;
   cursor: pointer;
}


/* player */

.player-nav {
   grid-area: player-nav;
   background-color: var(--dark-grey);

   width: 100vw;
   position: sticky;
   bottom: 0;

   display: grid;
   grid-template-columns: auto 1fr auto;
   place-items: center;
   padding: 10px 8px;
}

.player-nav p{
   margin: 2px 0;
   padding-right: 20px;
}

.player-nav .now-playing,
.player-nav .settings,
.player-nav .progress {
   display: grid;
   grid-auto-flow: column;
   place-items: center;
   grid-gap: 10px;

   transform: .3s;
   transition: ease-in-out;
}

.player-nav .buttons {
   display: grid;
   grid-template-columns:1fr 20px 20px 35px 20px 20px 1fr;
   
   place-items: center;
   grid-gap: 15px;

   transform: .3s;
   transition: ease-in-out;
}


.player-nav .now-playing img {
   opacity: 50%;
}

.player-nav .now-playing img:hover {
   opacity: 100%;
   cursor: pointer;

}

.player-nav .now-playing img:active {
   transform: scale(0.95);
}

.player-nav .settings img:hover,
.player-nav .buttons img:hover {
   opacity: 50%;
   cursor: pointer;

}

.player-nav .settings img:active,
.player-nav .buttons img:active {
   opacity: 20%;
   transform: scale(0.95);
}




